html{
	color:#000;
	background:#E3F4A3; 
	padding:20px 0;
	font: 12px/18px "맑은 고딕", "Malgun Gothic", "굴림", "Gulim", Verdana, Arial, Tahoma;
}
#wrap{
	width: 900px;
	padding: 30px 100px 50px 50px ; 
	margin: 0 auto;
	background-color:#EEF8c7; 
	border-radius: 15px 15px 15px 15px;
}

#Title{
	padding-top: 30px;
	font-size:30px; 
	margin-bottom: 40px;
}
#table{
	width: 600px;
	padding-top: 20px;
	padding-bottom: 10px;
	margin: 0 auto;
}
th, tr{
	border-bottom:2px solid #A8FF4C; 
	border-right:2px solid #A8FF4C; 
}


.title{
	width: 100px;
	padding: 10px 0 10px 0;
	background: #A8FF4C;
}		


.data{
	width: 300px;
	padding-bottom: 10px;

}
tr.blank{
	padding-top: 10px;
}





a.nodec{ text-decoration : none;}
a:visited{color:#F56D66;}
a:hover{text-decoration:underline;}


#click{
	padding:50px 0 10px 780px;
	font-size: 30px;
	
}
